.filters {
  grid-row: 1/2;

  @media screen and (max-width: 768px) {
    grid-row: 2/3;
    display: flex;
    gap: 24px;
    padding-left: 61px;
  }
}

.formGroup {
  composes: formGroup from "../DestinationControlItem/DestinationControlItem.module.css";
}
