.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 38px;
  height: 100vh;
}

.error {
  color: var(--purple-dark);
}

.backButton {
  margin-top: auto;
}
