.container {
  position: relative;
}

.list {
  list-style-type: none;
  padding: 6px;
  margin: 0;
  position: absolute;
  border: 1px solid var(--purple-light);
  border-radius: 8px;
  top: calc(100% + 7px);
  left: 0;
  right: 0;
  z-index: 999;
  background-color: var(--white);
  box-shadow: 0px 4px 6px -2px #0000000d;

  &::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 14px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5.5px 6px 5.5px;
    border-color: transparent transparent var(--purple-light) transparent;
  }
}

.listItem {
  color: var(--black);
  padding: 6px;
  cursor: pointer;
  border-radius: 6px;

  &:hover {
    background-color: var(--purple-light);
  }
}

.skeletonItem {
  background-color: var(--grey);
  height: 20px;
  border-radius: 4px;
  width: 189px;
  margin-bottom: 6px;
}
