.form {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 120px;
  width: 734px;
  margin: auto;
  column-gap: 80px;

  @media screen and (max-width: 768px) {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 22px 14px;
    row-gap: 44px;
  }
}

.submit {
  grid-column: 1 / -1;
  justify-self: center;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
