.form {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 120px;
  width: 734px;
  margin: auto;
  column-gap: 80px;
}

.destinations {
  grid-row: 1/-1;
}

.filters {
  grid-row: 1/2;
}

.item {
  position: relative;
  padding-left: 61px;
}

.step {
  background-image: url("../../assets/step-icon.png");
  width: 13px;
  height: 13px;
  margin: auto;
  position: absolute;
  bottom: 12px;
  left: 0;
}

.connector {
  background-image: url("../../assets/dots.png");
  width: 3px;
  height: 45px;
  position: absolute;
  left: 5px;
  bottom: -39px;
}

.destination {
  composes: step;
  background-image: url("../../assets/destinaiton-icon.png");
  height: 17px;
}

.iconsColumn {
  align-self: end;
  position: relative;
}

.formGroup {
  margin-bottom: 20px;
}

.actions {
  position: absolute;
  right: -45px;
  bottom: 0;
}

.deleteIcon {
  height: 34px;
}

.addIcon {
  position: absolute;
  left: 0;
  padding-left: 0;
}

.submit {
  grid-column: 1 / -1;
  justify-self: center;
}
