.skeletonPanel {
  width: 220px;
  height: 100px;
  border: 1px solid var(--grey);
  border-radius: 6px;
  padding: 12px;
  margin-bottom: 20px;
}

.skeletonItem {
  background-color: var(--grey);
  height: 20px;
  border-radius: 4px;
  width: 189px;
  margin-bottom: 6px;
}
