:root {
  --purple-light: #c7d1f4;
  --purple-dark: #7786d2;
  --black: #374151;
  --grey: #e5e7eb;
  --white: white;
  --red: #ff0000;
}

*,
*::after,
&::before {
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-weight: 500;
}
